body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
  font-size: 1.25rem;
  display: block;
}

form {
  padding: .5rem;
  text-align: center;
}

form input {
  display: block;
  transition: border-color .3s;
}

form input:hover, form input:focus {
  border-color: black;
}

.form-element {
  margin-bottom: 1rem;
}

button {
text-align: center;
border-radius: .5rem;
font-size:  1.3rem;
border-color: darkorange;
}

button:hover, button:focus {
  font-size: 1.5rem;
}

.p-error {
  color: red;
}

header {
  text-align: center;
}

.header-h1 {
  border: 1rem solid;
}

.main-p-indicacion {
  font-size: 1.25rem;
}

.footer-p {
  font-size: .85rem;
}

.form-button-start {
  color: darkgreen;
}

main, footer {
  text-align: center;
}

.span-titulo, .span-canal {
  font-size: 1.25rem;
}

.span-texto-titulo, .span-texto-canal {
font-size: 1.25rem;
font-weight: bold;
}

.form-buttons-group {
  display: flex;
  justify-content: space-between;
}

form {
  text-align: center;
}

header {
  margin-bottom: .9rem;
}

main {
  margin-bottom: .9rem;
}